
/* left side form styling is there */
#leftportion{
    background:#fff7df ;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#web-logo{
    padding-bottom: 10px;
    height: 70px;
}

#logo-below-text{
    width: 350px;
    height: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5C5C5C;
    margin-top: 15px;
}


#leftportion #upper-img{
    position: absolute;
    top: 80px;
    left: 0;
    height: 130px;
}

#formdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#verficationboxes{
    display: flex;
}

#formdiv #verficationboxes .OTP{
    width: 30px;
    border: none;
    border-bottom: 1px solid black;
    margin-right: 20px; 
    outline: none; 
    background-color:#fff7df ;
    text-align: center;  
}

#buttonprocede {
    background-color: #32566c;
    color: ivory;
    padding: 15px 25px;
    border-radius: 100px;
    width: 370px;
    border: none;
    outline: none;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
}

#buttonprocede:hover{
    background-color: #F76300;
    transition: 0.2s ease-in-out;
}

/* Rightside container css styling */

#rightportion{
    background: #F76300;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightportion img {
    height: 520px;
}
#leftportion .circle1{
    position: absolute;
    left: -0.86%;
    right: 97.67%;
    top: 83%;
    bottom: 12.22%;
    border: 2px solid green;
    background: #E86202;
    mix-blend-mode: normal;
    opacity: 0.57;
    z-index: -1;
    }


 /* media queirs for Max-768 width screen */

@media all and (max-width : 768px){

        #rightportion{
            width: 100%;
        }

        #leftportion{
            width: 100%;
        }

        #rightportion img {
            height: 360px;
        }

        #leftportion .form-div #web-logo{
            height: 55px;
        }
                
        .OTP{
            width: 350px;
          }

}


/* media queirs for Max-576 width screen */

@media all and (max-width : 576px){
    
    
    #rightportion{
        width: 100%;
    }

    #rightportion img {
        height: 280px;
    }

    #leftportion{
        width: 100%;
    }
            
    #leftportion .form-div #web-logo{
        height: 55px;
    }

    #leftportion .form-div #logo-below-text{
        font-size: 13px;
    } 

    #leftportion .form-div .button-procede{
        width: 260px;
      }

      
    #leftportion #upper-img{
        height: 100px;
    }

    #leftportion .form-div .verfication-boxes{
        width: 280px;
    }
}


/* media queries for max 420px width */

@media all and (max-width : 420px){
    #rightportion{
        display: none;
    }

    #leftportion{
        width: 200%;
    }
            
    #leftportion .form-div #web-logo{
        height: 60px;
    }

    #leftportion .form-div #logo-below-text{
        font-size: 14px;
    } 

    .OTP{
        width: 350px;
      }
    
}



/* media queries for max 280px width */

@media all and (max-width : 280px){
   
    .leftside{
        width:300%;
        height: 300%;
        
    }

    input{
        width: 240px;
    }

           
    .leftside .form-div #web-logo{
        height: 45px;
    }

    .leftside .form-div #logo-below-text{
        font-size: 10px;
    } 

        
    .leftside #upper-img{
        height: 90px;
    }
}