#form-styling {
  width: 450px;
  background-color: black;
  padding: 30px 10px;
  border-radius: 0.5em;
  box-shadow: 0px 15px 55px rgba(160, 121, 0, 0.2);

  
}
#form-styling:hover{
  cursor: pointer;
  box-shadow: 0px 15px 55px rgba(160, 121, 0, 0.2);
}
#book-now {
  width: 430px;
}
@media all and (max-width: 576px) {
  #book-now {
    margin-left: -1px;
  }
}