.main-div {
  position: relative;
  height: 500px;
  background: linear-gradient(252.78deg, #ffc000 0%, #f76300 100.7%);
  margin-top: -5px;
}

.main-div .row h1 {
  color: white;
  position: absolute;
  top: 110px;
  left: 200px;
  font-weight: 900;
  font-size: 25px;
  line-height: 158.34%;
}

.main-div .row .inner-section #app-store-sec {
  position: absolute;
  left: 205px;
  top: 210px;
}

.main-div .row .inner-section #google-store-sec {
  position: absolute;
  left: 385px;
  top: 240px;
}

@media all and (max-width: 992px) {
  .main-div .row h1 {
    left: 70px;
  }

  .main-div .row p {
    left: 70px;
  }

  .main-div .row .inner-section #app-store-sec  {
    left: 70px;
  }

  .main-div .row .inner-section #google-store-sec {
    left: 250px;
  }

}


@media all and (max-width: 768px) {
  .main-div {
    width: 100%;
  }

  .main-div .row .inner-section #app-store-sec {
    top: 300px;
  }

  .main-div .row .inner-section #google-store-sec {
    left: 65px;
    top: 400px;
  }

}

@media all and (max-width: 576px) {
  .main-div {
    width: 100%;
  }
  .main-div .row h1 {
    display: none;
  }

  .main-div .row .inner-section #app-store-sec {
    display: none;
  }

  .main-div .row .inner-section #google-store-sec {
    display: none;
  }

}
