*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


/* left side form styling is there */
.leftside{
    background:#fff7df ;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leftside .form-div #web-logo{
    padding-bottom: 10px;
}

.leftside .form-div #logo-below-text{
    padding-bottom: 10px;
}


.leftside #upper-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
}

.leftside .form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input{
    padding: 15px 25px;
    border-radius: 35px;
    width: 370px;
    margin-bottom: .7rem;
    border: none;
    outline: none;
}

input:focus{
    border: 1px solid #F76300;
}

p{
    font-size: 15px;
}


.form-div .inner-link{
   padding-bottom: 20px;
   font-size: 14px;
   position : absolute;
   top: 450px;
}


.form-div .inner-link a{
    color: #F76300;
}


#eye-icon{
    position: absolute;
    top: 260px;
    left: 350px;
    color: #7a797e;
}

#Checkbox{
    margin-right: 85%;
    margin-top: 18px ;
    font-size: large;
    height: 17px;
    margin-bottom: 15px;
 
}
 
.form-div #termsAndConditions{
    position: absolute;
    top: 322px;
    right: 93px;
    

} 



/* Rightside container css styling */

.rightside{
    background: #32566c;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside img {
    height: 600px;
}



/* Button styling*/

#button-sigin{
    background-color:  #32566c ;
    color: white;
    margin:10px 15px ;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.2);
 }
 
 #button-sigin:hover{
     background-color:  #F76300 ;
     transition: 0.3s ease-in-out;
 }

 /* media queirs for Max-768 width screen */

@media all and (max-width : 768px) {
    .rightside{
        width: 100%;
    }

    .rightside img {
    height: 380px;
    }

    .leftside{
        width: 100%;    
    }
    
    
    .leftside #upper-img{
        height: 100px;
    }
    
    input{
        width: 340px;
       
    }
    
    #eye-icon{
        left: 325px;
    }
    
     
    .form-div #termsAndConditions{
         right: 65px;
    } 

}
 


/* media queirs for Max-576 width screen */

@media all and (max-width : 576px){
    .rightside{
        width: 100%;
    }

    .rightside img {
        height: 280px;
    }

    .leftside{
        width: 100%;    
    }
    
    
    .leftside #upper-img{
        height: 100px;
    }
    
    input{
        width: 270px;
       
    }
    
    #eye-icon{
        left: 255px;
        top: 248px;
    }

    .leftside .form-div #web-logo{
        height: 50px;
    }
    
     
    .form-div #termsAndConditions{
         right: 47px;
         top: 310px;
         font-size: 12px;
    }

    #Checkbox{
        height: 14px;
        margin-right: 80%;
    }


}


/* media query for max-width 400px*/

@media all and (max-width : 420px) {
    
    .leftside{
        width: 200%;
    }

    .leftside #upper-img{
        height: 80px;
    }

    .rightside{
        display: none;
    }

    input{
        width: 350px;
       
    }
    
    #eye-icon{
        left: 330px;
        top: 250px;
    }

    .leftside .form-div #web-logo{
        height: 55px;
    }
    
     
    .form-div #termsAndConditions{
         right: 85px;
         top: 312px;
         font-size: 14px;
    }

    #Checkbox{
        height: 14px;
    }

    .leftside .form-div #logo-below-text{
        font-size: 14px;
    }

    
    .form-div .inner-link{
    font-size: 14px;
    top: 430px;
    }
}

/* media queries for max 280px width */

@media all and (max-width : 280px){
    
    .leftside{
        width: 200%;
    }

    .leftside #upper-img{
        height: 80px;
    }

    input{
        width: 250px;
       
    }
    
    #eye-icon{
        left: 238px;
        top: 252px;
    }

    .leftside .form-div #web-logo{
        height: 50px;
    }
    
     
    .form-div #termsAndConditions{
         right: 50px;
         top: 310px;
         font-size: 11px;
    }

    .leftside .form-div #logo-below-text{
        font-size: 14px;
    }

    
    .form-div .inner-link{
    font-size: 13px;
    
    }
}